body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: "Noto Sans";
  color: #172b4d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
